body {
    margin: 0;
}

.users {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__title {
        font-size: 60px;
    }

    &__select {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        text-decoration: none;
        color: red;
        font-size: 40px;
    }

    &__switch {
        margin-top: 50px;

        &__button {
            color:white;
            border: none;
            background-color: red;
            font-size: 40px;
            width: 155px;
            border-radius: 5px;
        }
    }
}