.cardInfo {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 258px;
    height: 124px;
    background: #FBFBFB;
    border-radius: 5px;
    margin: 0 0 54px 25px;

    &__img {
        width: 60px;
    }

    &__detail {
        display:flex;
        flex-direction:column;
        margin-left:24px;

        &__info {
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            color: #282D30;
            margin-bottom:2px;
        }

        &__text {
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #74798C;
        }
    }
}