.userScore {
    position: relative;
    width: 258px;
    height: 263px;
    background: #FBFBFB;
    border-radius: 5px;

    &__text {
        position: relative;
        bottom: 150px;
        left: 100px;
    }
}